<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <label for="region">Select a Region</label>
    <%=select(:sighting, :region, options_for_select([["North","North"], ["South", "South"], ["East", "East"], ["West", "West"]]))%>
  </div>

  <div class="field">
    <label for="animal">Select Animal</label>
    <%=select(:sighting, :animal_id, @animals_for_select, class: "form-control", include_blank: true) %>
  </div>

  <div class="field">
    <label for="ranger">Select a Ranger</label>
    <%=select(:sighting, :ranger_id, @rangers_for_select, include_blank: true)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
